<script>
 var links = [
    { "source" : 0, "target" : 1, "value" : 1 },
    { "source" : 0, "target" : 2, "value" : 1 },
    { "source" : 0, "target" : 3, "value" : 1 },
    { "source" : 0, "target" : 57, "value" : 1 },
    { "source" : 2, "target" : 4, "value" : 1 },
    { "source" : 2, "target" : 5, "value" : 1 },
    { "source" : 4, "target" : 6, "value" : 1 },
    { "source" : 4, "target" : 7, "value" : 1 },
    { "source" : 7, "target" : 8, "value" : 1 },
    { "source" : 5, "target" : 9, "value" : 1 },
    { "source" : 5, "target" : 10, "value" : 1 },
    { "source" : 5, "target" : 11, "value" : 1 },
    { "source" : 3, "target" : 12, "value" : 1 },
    { "source" : 12, "target" : 13, "value" : 1 },
    { "source" : 3, "target" : 14, "value" : 1 },
    { "source" : 14, "target" : 15, "value" : 1 },
    { "source" : 1, "target" : 16, "value" : 1 },
    { "source" : 16, "target" : 17, "value" : 1 },
    { "source" : 16, "target" : 18, "value" : 1 },
    { "source" : 16, "target" : 19, "value" : 1 },
    { "source" : 16, "target" : 20, "value" : 1 },
    { "source" : 16, "target" : 21, "value" : 1 },
    { "source" : 1, "target" : 22, "value" : 1 },
    { "source" : 22, "target" : 23, "value" : 1 },
    { "source" : 22, "target" : 24, "value" : 1 },
    { "source" : 22, "target" : 25, "value" : 1 },
    { "source" : 18, "target" : 26, "value" : 1 }, //js libraries
    { "source" : 18, "target" : 27, "value" : 1 },
    { "source" : 18, "target" : 28, "value" : 1 },
    { "source" : 18, "target" : 29, "value" : 1 },
    { "source" : 18, "target" : 30, "value" : 1 },
    { "source" : 18, "target" : 31, "value" : 1 },
    { "source" : 18, "target" : 32, "value" : 1 },
    { "source" : 1, "target" : 33, "value" : 1 },
    { "source" : 33, "target" : 34, "value" : 1 },
    { "source" : 33, "target" : 35, "value" : 1 },
    { "source" : 33, "target" : 36, "value" : 1 },
    { "source" : 33, "target" : 37, "value" : 1 },
    { "source" : 33, "target" : 38, "value" : 1 },
    { "source" : 1, "target" : 39, "value" : 1 },
    { "source" : 39, "target" : 40, "value" : 1 },
    { "source" : 39, "target" : 41, "value" : 1 },
    { "source" : 39, "target" : 42, "value" : 1 },
    { "source" : 39, "target" : 43, "value" : 1 },
    { "source" : 1, "target" : 44, "value" : 1 },
    { "source" : 44, "target" : 45, "value" : 1 },
    { "source" : 44, "target" : 46, "value" : 1 },
    { "source" : 45, "target" : 47, "value" : 1 },
    { "source" : 45, "target" : 48, "value" : 1 },
    { "source" : 45, "target" : 49, "value" : 1 },
    { "source" : 45, "target" : 50, "value" : 1 },
    { "source" : 17, "target" : 23, "value" : 1 }, // ruby - rails
    { "source" : 17, "target" : 51, "value" : 1 },
    { "source" : 51, "target" : 52, "value" : 1 },
    { "source" : 51, "target" : 53, "value" : 1 },
    { "source" : 51, "target" : 54, "value" : 1 },
    { "source" : 51, "target" : 55, "value" : 1 },
    { "source" : 51, "target" : 56, "value" : 1 },
    { "source" : 1, "target" : 58, "value" : 1 },
    { "source" : 58, "target" : 59, "value" : 1 },
    { "source" : 58, "target" : 60, "value" : 1 },
    { "source" : 58, "target" : 61, "value" : 1 },
    { "source" : 1, "target" : 62, "value" : 1 },
    { "source" : 62, "target" : 63, "value" : 1 },
    { "source" : 62, "target" : 64, "value" : 1 },
    { "source" : 62, "target" : 65, "value" : 1 },
    { "source" : 62, "target" : 66, "value" : 1 },
    { "source" : 1, "target" : 67, "value" : 1 },
    { "source" : 67, "target" : 68, "value" : 1 },
    { "source" : 67, "target" : 69, "value" : 1 },
    { "source" : 67, "target" : 70, "value" : 1 },
    { "source" : 67, "target" : 71, "value" : 1 },
    { "source" : 67, "target" : 72, "value" : 1 },
    { "source" : 67, "target" : 73, "value" : 1 },
    { "source" : 1, "target" : 74, "value" : 1 }, // design
    { "source" : 74, "target" : 75, "value" : 1 }, // design - adobe
    { "source" : 75, "target" : 76, "value" : 1 },
    { "source" : 75, "target" : 77, "value" : 1 },
    { "source" : 75, "target" : 78, "value" : 1 },
    { "source" : 75, "target" : 79, "value" : 1 },
    { "source" : 74, "target" : 80, "value" : 1 },
    { "source" : 74, "target" : 81, "value" : 1 },
    { "source" : 1, "target" : 82, "value" : 1 },
    { "source" : 82, "target" : 83, "value" : 1 },
    { "source" : 82, "target" : 84, "value" : 1 },
    { "source" : 82, "target" : 85, "value" : 1 },
    { "source" : 75, "target" : 83, "value" : 1 },
    { "source" : 57, "target" : 86, "value" : 1 },
    { "source" : 86, "target" : 87, "value" : 1 },
    { "source" : 86, "target" : 88, "value" : 1 },
    { "source" : 86, "target" : 89, "value" : 1 },
    { "source" : 86, "target" : 90, "value" : 1 },
    { "source" : 86, "target" : 91, "value" : 1 },
    { "source" : 6, "target" : 86, "value" : 1 },
    { "source" : 57, "target" : 4, "value" : 1 },
    { "source" : 4, "target" : 92, "value" : 1 },
    { "source" : 7, "target" : 93, "value" : 1 },
    { "source" : 7, "target" : 94, "value" : 1 },
    { "source" : 7, "target" : 95, "value" : 1 },
    { "source" : 4, "target" : 96, "value" : 1 },
    { "source" : 57, "target" : 97, "value" : 1 },
    { "source" : 97, "target" : 98, "value" : 1 },
    { "source" : 97, "target" : 99, "value" : 1 },
    { "source" : 97, "target" : 100, "value" : 1 },
    { "source" : 87, "target" : 96, "value" : 1 }
  ] ;
  var nodes = [
    { "name" : "Nick Lombardi", "group" : 25 },
    { "name" : "Technical Skills", "group" : 20 },
    { "name" : "Education", "group" : 20 },
    { "name" : "Certifications", "group" : 20 },
    { "name" : "General Assembly", "group" : 12 }, //4
    { "name" : "James Madison University", "group" : 12 }, //5
    { "name" : "New York", "group" : 5 }, //6
    { "name" : "Web Development Immersive Graduate", "group" : 10 }, //7
    { "name" : "June 2013 - September 2013", "group" : 5 }, //8
    { "name" : "Harrisonburg, VA", "group" : 5 },
    { "name" : "Bachelor of Science", "group" : 5 },
    { "name" : "May 2003", "group" : 5 },
    { "name" : "Apple Small Device Certification", "group" : 12 },
    { "name" : "iOS software and hardware certified", "group" : 5 },
    { "name" : "AlphaGraphics Color Certification", "group" : 12 },
    { "name" : "Awarded for achieving consistant quality in attaining specific color target parameters", "group" : 5 },
    { "name" : "Programming Languages", "group" : 12 },
    { "name" : "Ruby", "group" : 10 }, //17
    { "name" : "Javascript", "group" : 10 },
    { "name" : "HTML", "group" : 5 },
    { "name" : "CSS", "group" : 5 },
    { "name" : "ERB", "group" : 5 }, //21
    { "name" : "Frameworks", "group" : 12 },
    { "name" : "Rails", "group" : 10 }, //23
    { "name" : "Sinatra", "group" : 5 },
    { "name" : "WordPress", "group" : 5 },
    { "name" : "D3", "group" : 8},
    { "name" : "jQuery", "group" : 5 },
    { "name" : "AJAX", "group" : 5 },
    { "name" : "Backbone", "group" : 5 },
    { "name" : "JSON", "group" : 5 },
    { "name" : "Handlebars", "group" : 5 },
    { "name" : "Underscore", "group" : 5 },
    { "name" : "Testing Tools", "group" : 12 },
    { "name" : "RSpec", "group" : 5 },
    { "name" : "Capybara", "group" : 5 },
    { "name" : "Jasmine", "group" : 5 },
    { "name" : "FactoryGirl", "group" : 5 },
    { "name" : "Chrome Developer Tools", "group" : 5 },
    { "name" : "Web Servers", "group" : 12 }, //39
    { "name" : "Unicorn", "group" : 5 },
    { "name" : "Puma", "group" : 5 },
    { "name" : "Thin", "group" : 5 },
    { "name" : "Webrick", "group" : 5 },
    { "name" : "Deployment", "group" : 12 }, //44
    { "name" : "Heroku", "group" : 10 }, //45
    { "name" : "AWS", "group" : 5 },
    { "name" : "Dalli", "group" : 5 },
    { "name" : "Memcachier", "group" : 5 },
    { "name" : "NewRelic", "group" : 5 },
    { "name" : "Blitz.io", "group" : 5 },
    { "name" : "Gems", "group" : 8 }, //51
    { "name" : "Devise", "group" : 5 },
    { "name" : "Active Admin", "group" : 5 },
    { "name" : "DotEnv", "group" : 5 },
    { "name" : "Nokogiri", "group" : 5 },
    { "name" : "Paperclip", "group" : 5 }, //56
    { "name" : "Experience", "group" : 20 }, //57******
    { "name" : "Version Control", "group" : 12 },
    { "name" : "Git", "group" : 5 },
    { "name" : "Github", "group" : 5 },
    { "name" : "Github/Gists", "group" : 5 },
    { "name" : "Data Stores", "group" : 12 }, //62
    { "name" : "PostgreSQL", "group" : 5 },
    { "name" : "MySQL", "group" : 5 },
    { "name" : "MongoDB", "group" : 5 },
    { "name" : "Sqlite3", "group" : 5 },
    { "name" : "Bash Commandline Tools", "group" : 12 }, //67
    { "name" : "RVM", "group" : 5 },
    { "name" : "Homebrew", "group" : 5 },
    { "name" : "Pry", "group" : 5 },
    { "name" : "IRB", "group" : 5 },
    { "name" : "Foreman", "group" : 5 },
    { "name" : "Curl", "group" : 5 },
    { "name" : "Design", "group" : 12 }, //74
    { "name" : "Adobe CS", "group" : 10 }, //75
    { "name" : "Dreamweaver", "group" : 5 },
    { "name" : "Illustrator", "group" : 5 },
    { "name" : "InDesign", "group" : 5 },
    { "name" : "Photoshop", "group" : 5 },
    { "name" : "Apple Aperture", "group" : 5 },
    { "name" : "QuarkXPress", "group" : 5 },
    { "name" : "Video", "group" : 12 },
    { "name" : "After Effects", "group" : 5 },
    { "name" : "Final Cut Pro X", "group" : 5 },
    { "name" : "Maxon Cinema 4D", "group" : 5 },
    { "name" : "One Month Rails", "group" : 12 }, //86
    { "name" : "September 2013 - Present", "group" : 5 },
    { "name" : "One Month Rails promises to teach students to code Ruby on Rails in One Month", "group" : 5 },
    { "name" : "Developed updated site with new curriculum and migrated to Rails 4 and Bootstrap 3", "group" : 5 },
    { "name" : "Increased customer satisfaction by leading the technical support team to Y Combinator (YC S13) startup", "group" : 5 },
    { "name" : "Created strategic support flow integration based on analytics and solution patterns", "group" : 5 },
    { "name" : "GA’s goal as a professional educator and incubator is to transform thinkers into creators", "group" : 5 }, //92
    { "name" : "Graduated Web Development Immersive through 12 weeks of immersive instruction ", "group" : 5 },
    { "name" : "Project production included management, wireframing, back and front end development, database management, version control, deployment, testing and analytics", "group" : 5 },
    { "name" : "Final project, MadeInNY.io is a data visualization of the NY startup scene and is currently enjoying a healthy amount of web traffic", "group" : 5 },
    { "name" : "Teaching Assistant for GA’s Programming for Non Programmers class", "group" : 10 }, //96
    { "name" : "Independent Consulting", "group" : 12 },
    { "name" : "September 2012 - present", "group" : 5 },
    { "name" : "Worked closely with executives of the video discovery start-up Taboola in designing UX mocks", "group" : 5 },
    { "name" : "Created marketing materials, and analyzed metrics to increase web traffic for Taboola", "group" : 5 }
  ] ;

  var width = 1200
  height = 1100;

  var svg = d3.select("body").append("svg")
            .attr("viewBox", "0 0 " + width + " " + height )
            .attr("preserveAspectRatio", "xMidYMid meet");

var color = d3.scale.category10();

var force = d3.layout.force()
.nodes(d3.values(nodes))
.links(links)
.size([width, height])
.linkDistance(20)
.charge(-700)
.on("tick", tick)
.start();

// var svg = d3.select("body").append("svg")
// .attr("width", width)
// .attr("height", height);

var link = svg.selectAll(".link")
.data(force.links())
.enter().append("line")
.attr("class", "link")
.style("stroke-width", function(d) { return Math.sqrt(d.value); });

var node = svg.selectAll(".node")
.data(force.nodes())
.enter().append("g")
.attr("class", "node")
.style("fill", function(d) { return color(d.group); })
.style("opacity", 1)
.on("mouseover", mouseover)
.on("mouseout", mouseout)
.call(force.drag);

node.append("circle")
.attr("r", function(d) { return (d.group); })
.attr("stroke", function(d) { return d3.rgb(color(d.group)).brighter(); })

node.append("svg:text")
.style("fill", "#666666")
.style("opacity", 0)
.attr("class", "nodetext")
.attr("width", 100)
.attr("height", 100)
.text(function(d) { return d.name });

function tick() {
link
.attr("x1", function(d) { return d.source.x; })
.attr("y1", function(d) { return d.source.y; })
.attr("x2", function(d) { return d.target.x; })
.attr("y2", function(d) { return d.target.y; });

node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
}

function mouseover() {
d3.select(this).select("circle").transition()
.ease("elastic")
.duration(750)
.style("fill", function(d) { return d3.rgb(color(d.group)).brighter() })
.attr("stroke", function(d) { return d3.rgb(color(d.group)).darker(); })
.attr("r", function(d) { return (d.group * 1.3); });
d3.select(this).select("text").transition()
.duration(750)
.style("fill", "#666666")
.attr("x", function(d) { return (d.group); })
.attr("y", function(d) { return +- (d.group); })
.style("stroke-width", "0.15px")
.style("opacity", 1);
}

function mouseout() {
d3.select(this).select("circle").transition()
.ease("elastic")
.duration(750)
.attr("stroke", function(d) { return d3.rgb(color(d.group)).brighter(); })
.style("fill", function(d) { return color(d.group); })
.attr("r", function(d) { return (d.group); });
}

</script>

<svg id="chart" width="1200" height="1000"
  viewBox="0 0 1200 1000"
  preserveAspectRatio="xMidYMid">
</svg>