html {
  width: 100%;
  /*max-height: 600px;*/
  /*height:auto !important;*/
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  /*background-image: url(/assets/map2.svg);*/
  /*background-repeat: no-repeat;*/
  background-color: #F5F5F5;
  position: absolute;
  width: 100%;
  /*max-height: 100%;*/
}

.link {
stroke: #999999;
opacity: 0.9;
stroke-width: 2px;
}
.node circle {
opacity: 1;
/*stroke-width: 1px;*/
}
.node:not(:hover) .nodetext {
display: none;
}
text {
font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
opacity: 1;
stroke: #fff;
stroke-width: 0.15px;
pointer-events: none;
}

/*#chart {
  position: absolute;
  margin-top: 50px;
}*/

a {
  font-size: 20px;
  color: #333333;
}

.icons {
  margin-top: -4.5px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #999999;
  background-color: transparent;
}

.navbar {
  position: absolute;
  min-height: 50px;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  z-index: 5;
/*  border-bottom: 1px solid #FFFFFF;
  opacity: 1;*/
}

.navbar-brand {
  float: left;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 7.5px;
  font-size: 22px;
  line-height: 20px;
  color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

.tooltip {
  position: absolute;
  -moz-border-radius:4px;
  border-radius: 4px;
  border: 1px solid #DBDCDE;
  background: #ffffff;
  opacity: .9;
  padding: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  z-index: 10;
}