.link {
stroke: #999999;
opacity: 0.9;
stroke-width: 2px;
}
.node circle {
opacity: 1;
stroke-width: 1px;
}
.node:not(:hover) .nodetext {
display: none;
}
text {
font-family: "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 500;
opacity: 1;
stroke: #fff;
stroke-width: 0.15px;
pointer-events: none;
}